.shoppage__body {
  height: calc(100vh -62px);
}

.shoppage__body_search {
  height: 80px;
  margin-top: 20px;
}

.shoppage__body_search-input {
  border-bottom: 2px solid rgb(187, 186, 186) !important;
  font-size: 20px !important;
}

.shoppage__body_content {
  height: calc(100%);
  display: flex;
}

.shoppage__body_content-filter {
  height: 100%;
  overflow-y: scroll;
  width: 350px;
}

.shoppage__body_content-product {
  height: calc(100% - 80px);

  overflow-y: scroll;
  width: calc(100% - 350px);
}
